@use '../base/mixins' as *;
@use '../base/variables' as *;
@use '../base/colors' as *;

.footer {
    padding: 55px 0;
    position: relative;
    
    @include medium-up {
        padding: 60px 0;
    }

    & .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: scale(0.8);

        @include medium-up {
            flex-direction: row;
            justify-content: space-between;
            gap: 100px;
        }
    }

    &__logo {
        transform: scale(0.8);

        & p {
            font-size: $font-size-4;
            margin-top: 4px;
            color: $white;

            @include medium-up {
                font-size: 24px;
                color: $white
            }
        }
    }
    

    &__text {
        margin-top: 25px;

        @include medium-up {
            margin-top: 80px;
        }

        & p {
            font-size: $font-size-5;
            margin-top: 10px;
            color: $white
        }
    }
}