@use 'base/variables' as *;
@use 'base/colors' as *;
@use 'base/utils';
@use 'base/typography';
@use 'base/colors' as *;
@use 'base/mixins' as *;

.btn {
    background-color: $violet-primary;
    color: $white;
    padding: 20px 25px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    text-align: center;
    font-size: $font-size-5;
    font-weight: $font_weight-bold;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    transition: background-color 0.2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
    box-shadow: $shadow 0px 4px 20px;

    &:hover {
        background-color: $white;
        color: $violet-primary;
        border-color: $violet-primary;
    }

    &--small {
        padding: 12px 25px;
    }
}

.btn-menu {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;
    margin-top: 10px ;

    &:hover {
        svg, path {
            stroke: $violet-primary;
        }
    }

    @include medium-up {
        display: none;
    }
}