$white: #fff;
$black: #000;
$light-blue: #99def5;

$violet-primary: #5434df;
$blue-secondary: #003fee;

$violet-light: #c9b3ff;

$gray-dark: #333;
$gray-primary: #8a8a8a;
$gray-secondary: #999999;

$gradient_background: linear-gradient(180deg, #8bf4fd 0%, #000000 100%);

$gradient_menu: linear-gradient(18deg, rgb(131, 231, 245), rgb(53, 94, 108) 100%);

$gradient: linear-gradient(180deg, #6ff5ff9d 0%, #010405 100%);

$shadow: rgb(247, 241, 241);

