// Fonts

$font-size-base: 16px;
$font-size-1: $font-size-base * 3.25; // 52px
$font-size-2: $font-size-base * 2.75; // 44px
$font-size-3: $font-size-base * 2 ; // 32px
$font-size-4: $font-size-base * 1.5 ; // 24px
$font-size-5: $font-size-base * .9375; // 15px
$font-size-6: $font-size-base * .75; // 12px

$font_weight-light: 300;
$font_weight-regular: 400;
$font_weight-medium: 500;
$font_weight-semi_bold: 600;
$font_weight-bold: 700;

$line-height-base: 28px;
$line-height-md: 38px;
$line-height-lg: 52px;

$border-radius: .25rem;
$grid-base: 10px;

//breakpoints

$bp-small: 536px;
$bp-medium: 992px;
$bp-large: 1280px;
